.doctorPage__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 140px 33px 0 33px;
}

.doctorPage__icon-return--wrap { 
  position: absolute;
  width: 60px;
  height: 60px;
  right: 33px;
  top: 60px;
}

@media (max-width: 768px) {
  .doctorPage__wrapper {
    padding: 100px 15px 0 15px;
  }

  .doctorPage__icon-return--wrap {
    top: 20px;
    right: 40px;
  }
}

@media (max-width: 460px) {
  .doctorPage__wrapper {
    padding-top: 70px;
  }
  
  .doctorPage__icon-return--wrap {
    right: 0; 
  }

  .doctorPage__icon-return--wrap img {
    width: 40px;
    height: 40px;
  }
}